
:root {
  --bg-right: #0d0b1a;
  --text: #fff;
  --sub: #aaa;
  --border: #555;
  --btn: #ff00cc;
}

.light {
  --bg-right: #f5f5f5;
  --text: #111;
  --sub: #555;
  --border: #ccc;
  --btn: #6c5ce7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.register-left {
  flex: 3;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* overlay */
.register-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.register-right {
  flex: 1;
  background: var(--bg-right);
  color: var(--text);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-right h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.sub-text {
  font-size: 14px;
  margin-bottom: 25px;
  color: var(--sub);
}

.sub-text a {
  color: var(--btn);
  text-decoration: none;
}

.input-box {
  margin-bottom: 18px;
}

.input-with-icon {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 8px 0;
  gap: 10px;
}

.input-with-icon input,
.input-with-icon select {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--text);
}

.input-with-icon .icon {
  color: var(--sub);
}

/* focus */
.input-with-icon:focus-within {
  border-bottom: 1px solid var(--btn);
}

.input-with-icon:focus-within .icon {
  color: var(--btn);
}

/* eye icon */
.eye-icon {
  cursor: pointer;
  color: var(--sub);
}

.eye-icon:hover {
  color: var(--btn);
}

.gender-box {
  display: flex;
  gap: 15px;
  margin-top: 8px;
}

.gender-option {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text);
  cursor: pointer;
}

.register-btn {
  width: 100%;
  padding: 12px;
  background: var(--btn);
  border: none;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px 0;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.socials button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.gender-box {
  display: flex;
  gap: 15px;
  margin-top: 8px;
}

.gender-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: 1px solid var(--border);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--text);
}

.gender-option input {
  accent-color: var(--btn);
}

.gender-option:hover {
  border-color: var(--btn);
}
.or {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--sub);
  font-size: 15px;
  margin: 15px 0;
}

.or::before,
.or::after {
  content: "";
  height: 1px;
  flex: 1;
  background: var(--border);
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  display: block;
}