
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

.nav a:hover {
  color: #f39c12;
}
.theme-btn {
  margin-left: 15px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff00cc;
  color: #fff;
}
.theme-btn:hover {
  background-color: #ff66cc;
  Transition: 0.3s;
  
}