.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  color: white;
  transition: 0.3s;
}

/* 🌙 Dark Mode */
body.dark .footer {
  background-color: #1f1f1f;
  color: #ffffff;
}

/* 🌞 Light Mode */
body.light .footer {
  background-color: #111;
  color: #ffffff;
}